<div id="vote_<%= post.id %>" class="post-voting">
  <%= link_to like_post_path(post), remote: true, method: :put, class: "btn btn-default btn-sm" do %>
    <% if current_user.voted_up_on? post %>
      <span class="glyphicon glyphicon-chevron-up upvote"></span>
    <% else %>
      <span class="glyphicon glyphicon-chevron-up"></span>
    <% end %>
  <% end %>

  <%= link_to dislike_post_path(post), remote: true, method: :put, class: "btn btn-default btn-sm" do %>
    <% if current_user.voted_down_on? post %>
      <span class="glyphicon glyphicon-chevron-down downvote"></span>
    <% else %>
      <span class="glyphicon glyphicon-chevron-down"></span>
    <% end %>
  <% end %>
</div>
