// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-heading {
  text-align: center;
  margin-top: 0;
}

.pic {
  float: left;
  margin: 0 15px 0 0;
  width: 150px;
}

.post-content {
  background-color: rgb(231, 255, 236);
  margin-left: 165px;
  padding: 15px;
}

.new-post {
  text-align: center;
}

.recent-comment {
  background-color: rgb(238, 240, 230);
  display: table;
  margin: 5px 0;
  min-width: 200px;
  padding: 15px;
}

.omitted-comments {
  color: rgb(101, 101, 101);
  display: table;
  font-size: 90%;
  margin-top: 5px;
}
