// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-heading {
  text-align: center;
  margin-top: 0;
}

.pic > img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.pic {
  float: left;
  margin: 0 15px 0 0;
  width: 150px;
}

.post-content-container {
  background-color: rgb(231, 255, 236);
  margin-left: 165px;
  padding: 15px;
  position: relative;
}

.main-content {
  padding: 15px 0;
}

.new-post {
  text-align: center;
}

.total-comment {
  background-color: rgb(238, 240, 230);
  display: table;
  margin: 5px 0;
  min-width: 250px;
  padding: 15px;
}

.comment-info {
  color: rgb(101, 101, 101);
  font-size: 80%;
}

.comment-content {
  padding-top: 5px;
}

.omitted-comments {
  color: rgb(101, 101, 101);
  display: table;
  font-size: 90%;
  margin-top: 5px;
}

.post-voting {
  float: left;
  width: 45px;
}

.author-details {
  font-size: 90%;
}

.user-id {
  color: green;
  font-size: 110%;
}

.post-links {
  font-size: 90%;
}

.admin {
  color: red;
  text-align: center;
}

.upvote {
  color: green;
}

.downvote {
  color: red;
}

#comment-list + form {
  margin-top: 20px;
}
